@import "bootstrap";

// = require leaflet

html, body{
    height: 100%;
}

.nav-link {
  color: black;
}

a:link {
  text-decoration: none;
}

#map { 
  height: 300px; 
}

#page-content {
    flex: 1 0 auto;
    background-color: #fff;
}

a {
    text-decoration: none;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pocos {
    flex: 1 0 auto;
    // background-color: #9dc2d1;
}

.res-imp {
    color: $red-500;
}

.res-p {
    color: $green-500;
}

td, th {
    vertical-align: center;
}

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
        padding: 0.2em 0.5em;
        border-radius: 5px; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #000000; }
    .flickr_pagination a {
      border: 1px solid #dddddd;
      color: #26B9DC;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: #003366;
        background: #26B9DC;
        color: #D3D3D3; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 100px; 
		white-space: nowrap;
    font-weight: bold;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "Endereço"; }
	td:nth-of-type(3):before { content: "Complemento"; }
	td:nth-of-type(4):before { content: "Cidade"; }
	td:nth-of-type(5):before { content: "Estado"; }
	td:nth-of-type(6):before { content: "Telefone"; }
	td:nth-of-type(7):before { content: "Latitude"; }
	td:nth-of-type(8):before { content: "Longitude"; }
	td:nth-of-type(9):before { content: "Resultado"; }
	td:nth-of-type(10):before { content: ""; }
}