<footer class="px-5 py-5" style="background-color: #246084;">
  <div class="row d-flex justify-content-center align-items-center">
    
    <div class="col text-center pb-3">
        <%= image_tag("ifrn.png", width: "300", :class => "img-fluid rounded") %>
        <%# <img src="./imgs/ifrn.png" style="width: 300px;"> %>
    </div>

    <div class="col">
      <h5 class="fw-bold">Núcleo de Extensão e Prática Profissional</h5>  
      <p>
        Rua das Margaridas, 300, COHAB <br>
        CEP 59.500-000 <br>
        Macau-RN
      </p>
    </div>
  </div>
</footer>